#note {
    height:100vh;
    border-style: bold;
    color: black;
    font-size: 30px;
    border:3px solid black;
}

#title {
    text-align: center;
    color: black;
    font-size: 50px;
    border:3px solid black;
}

/* Thanks to https://stackoverflow.com/users/2442099/g-cyr for this snippet of code */
div:empty:before {
    content:attr(placeholder);
    color: black;
  }

html, body{
    font-family: 'Assistant', sans-serif;
    background-color: gold;
}